<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950884896966-ugvjpn947m3j3keac81l4fdjj6tnebfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950884896966-ugvjpn947m3j3keac81l4fdjj6tnebfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAyKPUT0Oee_tuOqo6iM9QUKymnliKxQc0</string>
	<key>GCM_SENDER_ID</key>
	<string>950884896966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carPool.mobile</string>
	<key>PROJECT_ID</key>
	<string>carpool-66ede</string>
	<key>STORAGE_BUCKET</key>
	<string>carpool-66ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950884896966:ios:bf795f74d95637eaf647c7</string>
	<key>DATABASE_URL</key>
	<string>https://carpool-66ede.firebaseio.com</string>
</dict>
</plist>